# Tier Codeowners for framework based changes

/* @SatelliteQE/robottelo-tier-2-reviewers

/.github/ @SatelliteQE/robottelo-tier-2-reviewers

/conf/ @SatelliteQE/robottelo-tier-2-reviewers

/pytest_fixtures/ @SatelliteQE/robottelo-tier-2-reviewers

/pytest_plugins/ @SatelliteQE/robottelo-tier-2-reviewers

/robottelo/ @SatelliteQE/robottelo-tier-2-reviewers

/scripts/ @SatelliteQE/robottelo-tier-2-reviewers

/tests/foreman/sanity/ @SatelliteQE/robottelo-tier-2-reviewers

# Team Codeowners for test based changes

# Phoenix
tests/foreman/api/test_acs.py @SatelliteQE/team-phoenix
tests/foreman/api/test_activationkey.py @SatelliteQE/team-phoenix
tests/foreman/api/test_capsulecontent.py @SatelliteQE/team-phoenix
tests/foreman/api/test_contentcredentials.py @SatelliteQE/team-phoenix
tests/foreman/api/test_contentview.py @SatelliteQE/team-phoenix
tests/foreman/api/test_contentviewfilter.py @SatelliteQE/team-phoenix
tests/foreman/api/test_contentviewversion.py @SatelliteQE/team-phoenix
tests/foreman/api/test_docker.py @SatelliteQE/team-phoenix
tests/foreman/api/test_errata.py @SatelliteQE/team-phoenix
tests/foreman/api/test_hostcollection.py @SatelliteQE/team-phoenix
tests/foreman/api/test_http_proxy.py @SatelliteQE/team-phoenix
tests/foreman/api/test_lifecycleenvironment.py @SatelliteQE/team-phoenix
tests/foreman/api/test_product.py @SatelliteQE/team-phoenix
tests/foreman/api/test_reporttemplates.py @SatelliteQE/team-phoenix
tests/foreman/api/test_repositories.py @SatelliteQE/team-phoenix
tests/foreman/api/test_repository.py @SatelliteQE/team-phoenix
tests/foreman/api/test_repository_set.py @SatelliteQE/team-phoenix
tests/foreman/api/test_rhc.py @SatelliteQE/team-phoenix
tests/foreman/api/test_rhcloud_inventory.py @SatelliteQE/team-phoenix
tests/foreman/api/test_rhsm.py @SatelliteQE/team-phoenix
tests/foreman/api/test_subscription.py @SatelliteQE/team-phoenix
tests/foreman/api/test_syncplan.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_acs.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_activationkey.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_artifacts.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_capsulecontent.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_container_management.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_contentaccess.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_contentcredentials.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_contentview.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_contentviewfilter.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_docker.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_errata.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_host.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_hostcollection.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_http_proxy.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_lifecycleenvironment.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_ostreebranch.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_product.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_reporttemplates.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_repositories.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_repository.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_repository_set.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_rhcloud_inventory.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_satellitesync.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_subscription.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_syncplan.py @SatelliteQE/team-phoenix
tests/foreman/cli/test_vm_install_products_package.py @SatelliteQE/team-phoenix
tests/foreman/destructive/test_capsulecontent.py @SatelliteQE/team-phoenix
tests/foreman/destructive/test_contenthost.py @SatelliteQE/team-phoenix
tests/foreman/destructive/test_contentview.py @SatelliteQE/team-phoenix
tests/foreman/destructive/test_repository.py @SatelliteQE/team-phoenix
tests/foreman/longrun/test_inc_updates.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_acs.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_activationkey.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_capsulecontent.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_containerimagetag.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_contentcredentials.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_contenthost.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_contentview.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_contentview_old.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_errata.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_host.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_hostcollection.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_http_proxy.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_lifecycleenvironment.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_modulestreams.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_package.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_product.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_reporttemplates.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_repositories.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_repository.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_rhc.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_rhcloud_insights.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_rhcloud_inventory.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_subscription.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_sync.py @SatelliteQE/team-phoenix
tests/foreman/ui/test_syncplan.py @SatelliteQE/team-phoenix
tests/foreman/virtwho/ @SatelliteQE/team-phoenix
tests/upgrades/test_activation_key.py @SatelliteQE/team-phoenix
tests/upgrades/test_client.py @SatelliteQE/team-phoenix
tests/upgrades/test_contentview.py @SatelliteQE/team-phoenix
tests/upgrades/test_errata.py @SatelliteQE/team-phoenix
tests/upgrades/test_hostcontent.py @SatelliteQE/team-phoenix
tests/upgrades/test_repository.py @SatelliteQE/team-phoenix
tests/upgrades/test_satellitesync.py @SatelliteQE/team-phoenix
tests/upgrades/test_subscription.py @SatelliteQE/team-phoenix
tests/upgrades/test_syncplan.py @SatelliteQE/team-phoenix
tests/upgrades/test_virtwho.py @SatelliteQE/team-phoenix


# Rocket

tests/foreman/api/test_ansible.py @SatelliteQE/team-rocket
tests/foreman/api/test_classparameters.py @SatelliteQE/team-rocket
tests/foreman/api/test_computeprofile.py @SatelliteQE/team-rocket
tests/foreman/api/test_computeresource_azurerm.py @SatelliteQE/team-rocket
tests/foreman/api/test_computeresource_gce.py @SatelliteQE/team-rocket
tests/foreman/api/test_computeresource_libvirt.py @SatelliteQE/team-rocket
tests/foreman/api/test_computeresource_vmware.py @SatelliteQE/team-rocket
tests/foreman/api/test_contentview.py @SatelliteQE/team-rocket
tests/foreman/api/test_convert2rhel.py @SatelliteQE/team-rocket
tests/foreman/api/test_discoveredhost.py @SatelliteQE/team-rocket
tests/foreman/api/test_discoveryrule.py @SatelliteQE/team-rocket
tests/foreman/api/test_environment.py @SatelliteQE/team-rocket
tests/foreman/api/test_host.py @SatelliteQE/team-rocket
tests/foreman/api/test_operatingsystem.py @SatelliteQE/team-rocket
tests/foreman/api/test_parameters.py @SatelliteQE/team-rocket
tests/foreman/api/test_provisioning.py @SatelliteQE/team-rocket
tests/foreman/api/test_provisioning_puppet.py @SatelliteQE/team-rocket
tests/foreman/api/test_provisioningtemplate.py @SatelliteQE/team-rocket
tests/foreman/api/test_registration.py @SatelliteQE/team-rocket
tests/foreman/api/test_settings.py @SatelliteQE/team-rocket
tests/foreman/api/test_subnet.py @SatelliteQE/team-rocket
tests/foreman/api/test_template_combination.py @SatelliteQE/team-rocket
tests/foreman/cli/test_ansible.py @SatelliteQE/team-rocket
tests/foreman/cli/test_bootdisk.py @SatelliteQE/team-rocket
tests/foreman/cli/test_classparameters.py @SatelliteQE/team-rocket
tests/foreman/cli/test_computeresource_azurerm.py @SatelliteQE/team-rocket
tests/foreman/cli/test_computeresource_ec2.py @SatelliteQE/team-rocket
tests/foreman/cli/test_computeresource_libvirt.py @SatelliteQE/team-rocket
tests/foreman/cli/test_computeresource_osp.py @SatelliteQE/team-rocket
tests/foreman/cli/test_computeresource_rhev.py @SatelliteQE/team-rocket
tests/foreman/cli/test_computeresource_vmware.py @SatelliteQE/team-rocket
tests/foreman/cli/test_discoveredhost.py @SatelliteQE/team-rocket
tests/foreman/cli/test_discoveryrule.py @SatelliteQE/team-rocket
tests/foreman/cli/test_environment.py @SatelliteQE/team-rocket
tests/foreman/cli/test_fact.py @SatelliteQE/team-rocket
tests/foreman/cli/test_globalparam.py @SatelliteQE/team-rocket
tests/foreman/cli/test_leapp_client.py @SatelliteQE/team-rocket
tests/foreman/cli/test_logging.py @SatelliteQE/team-rocket
tests/foreman/cli/test_operatingsystem.py @SatelliteQE/team-rocket
tests/foreman/cli/test_provisioning.py @SatelliteQE/team-rocket
tests/foreman/cli/test_provisioningtemplate.py @SatelliteQE/team-rocket
tests/foreman/cli/test_puppetclass.py @SatelliteQE/team-rocket
tests/foreman/cli/test_registration.py @SatelliteQE/team-rocket
tests/foreman/cli/test_report.py @SatelliteQE/team-rocket
tests/foreman/cli/test_settings.py @SatelliteQE/team-rocket
tests/foreman/cli/test_subnet.py @SatelliteQE/team-rocket
tests/foreman/destructive/test_ansible.py @SatelliteQE/team-rocket
tests/foreman/destructive/test_discoveredhost.py @SatelliteQE/team-rocket
tests/foreman/destructive/test_infoblox.py @SatelliteQE/team-rocket
tests/foreman/destructive/test_puppetplugin.py @SatelliteQE/team-rocket
tests/foreman/destructive/test_registration.py @SatelliteQE/team-rocket
tests/foreman/installer/test_infoblox.py @SatelliteQE/team-rocket
tests/foreman/sys/test_pulp3_filesystem.py @SatelliteQE/team-rocket
tests/foreman/ui/test_ansible.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeprofiles.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeresource.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeresource_azurerm.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeresource_ec2.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeresource_gce.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeresource_libvirt.py @SatelliteQE/team-rocket
tests/foreman/ui/test_computeresource_vmware.py @SatelliteQE/team-rocket
tests/foreman/ui/test_config_group.py @SatelliteQE/team-rocket
tests/foreman/ui/test_discoveredhost.py @SatelliteQE/team-rocket
tests/foreman/ui/test_discoveryrule.py @SatelliteQE/team-rocket
tests/foreman/ui/test_fact.py @SatelliteQE/team-rocket
tests/foreman/ui/test_operatingsystem.py @SatelliteQE/team-rocket
tests/foreman/ui/test_provisioningtemplate.py @SatelliteQE/team-rocket
tests/foreman/ui/test_puppetclass.py @SatelliteQE/team-rocket
tests/foreman/ui/test_puppetenvironment.py @SatelliteQE/team-rocket
tests/foreman/ui/test_registration.py @SatelliteQE/team-rocket
tests/foreman/ui/test_settings.py @SatelliteQE/team-rocket
tests/foreman/ui/test_smartclassparameter.py @SatelliteQE/team-rocket
tests/foreman/ui/test_subnet.py @SatelliteQE/team-rocket
tests/upgrades/test_classparameter.py @SatelliteQE/team-rocket
tests/upgrades/test_discovery.py @SatelliteQE/team-rocket
tests/upgrades/test_provisioningtemplate.py @SatelliteQE/team-rocket
tests/upgrades/test_puppet.py @SatelliteQE/team-rocket
tests/upgrades/test_subnet.py @SatelliteQE/team-rocket


# Endeavour

tests/foreman/api/test_architecture.py @SatelliteQE/team-endeavour
tests/foreman/api/test_audit.py @SatelliteQE/team-endeavour
tests/foreman/api/test_bookmarks.py @SatelliteQE/team-endeavour
tests/foreman/api/test_eol_banner.py @SatelliteQE/team-endeavour
tests/foreman/api/test_filter.py @SatelliteQE/team-endeavour
tests/foreman/api/test_foremantask.py @SatelliteQE/team-endeavour
tests/foreman/api/test_host.py @SatelliteQE/team-endeavour
tests/foreman/api/test_hostgroup.py @SatelliteQE/team-endeavour
tests/foreman/api/test_ldapauthsource.py @SatelliteQE/team-endeavour
tests/foreman/api/test_location.py @SatelliteQE/team-endeavour
tests/foreman/api/test_media.py @SatelliteQE/team-endeavour
tests/foreman/api/test_multiple_paths.py @SatelliteQE/team-endeavour
tests/foreman/api/test_notifications.py @SatelliteQE/team-endeavour
tests/foreman/api/test_organization.py @SatelliteQE/team-endeavour
tests/foreman/api/test_oscap_tailoringfiles.py @SatelliteQE/team-endeavour
tests/foreman/api/test_oscappolicy.py @SatelliteQE/team-endeavour
tests/foreman/api/test_partitiontable.py @SatelliteQE/team-endeavour
tests/foreman/api/test_permission.py @SatelliteQE/team-endeavour
tests/foreman/api/test_ping.py @SatelliteQE/team-endeavour
tests/foreman/api/test_remoteexecution.py @SatelliteQE/team-endeavour
tests/foreman/api/test_role.py @SatelliteQE/team-endeavour
tests/foreman/api/test_templatesync.py @SatelliteQE/team-endeavour
tests/foreman/api/test_user.py @SatelliteQE/team-endeavour
tests/foreman/api/test_usergroup.py @SatelliteQE/team-endeavour
tests/foreman/api/test_webhook.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_architecture.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_auth.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_domain.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_filter.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_foremantask.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_hammer.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_host.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_hostgroup.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_jobtemplate.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_ldapauthsource.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_location.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_medium.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_model.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_organization.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_oscap.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_oscap_tailoringfiles.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_partitiontable.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_ping.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_realm.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_remoteexecution.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_role.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_sso.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_templatesync.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_user.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_usergroup.py @SatelliteQE/team-endeavour
tests/foreman/cli/test_webhook.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_auth.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_foreman_rake.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_host.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_ldap_authentication.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_ldapauthsource.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_ping.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_realm.py @SatelliteQE/team-endeavour
tests/foreman/destructive/test_remoteexecution.py @SatelliteQE/team-endeavour
tests/foreman/endtoend/test_api_endtoend.py @SatelliteQE/team-endeavour
tests/foreman/endtoend/test_cli_endtoend.py @SatelliteQE/team-endeavour
tests/foreman/longrun/test_oscap.py @SatelliteQE/team-endeavour
tests/foreman/longrun/test_remoteexecution.py @SatelliteQE/team-endeavour
tests/foreman/sys/test_dynflow.py @SatelliteQE/team-endeavour
tests/foreman/sys/test_webpack.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_architecture.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_audit.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_bookmarks.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_dashboard.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_domain.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_eol_banner.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_hardwaremodel.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_host.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_hostgroup.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_jobtemplate.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_ldap_authentication.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_location.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_media.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_organization.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_oscapcontent.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_oscappolicy.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_oscaptailoringfile.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_partitiontable.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_remoteexecution.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_role.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_search.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_templatesync.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_user.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_usergroup.py @SatelliteQE/team-endeavour
tests/foreman/ui/test_webhook.py @SatelliteQE/team-endeavour
tests/upgrades/test_bookmarks.py @SatelliteQE/team-endeavour
tests/upgrades/test_host.py @SatelliteQE/team-endeavour
tests/upgrades/test_hostgroup.py @SatelliteQE/team-endeavour
tests/upgrades/test_remoteexecution.py @SatelliteQE/team-endeavour
tests/upgrades/test_role.py @SatelliteQE/team-endeavour
tests/upgrades/test_user.py @SatelliteQE/team-endeavour
tests/upgrades/test_usergroup.py @SatelliteQE/team-endeavour


# Platform

tests/foreman/api/test_capsule.py @SatelliteQE/team-platform
tests/foreman/cli/test_abrt.py @SatelliteQE/team-platform
tests/foreman/cli/test_bootstrap_script.py @SatelliteQE/team-platform
tests/foreman/cli/test_capsule.py @SatelliteQE/team-platform
tests/foreman/cli/test_installer.py @SatelliteQE/team-platform
tests/foreman/destructive/test_capsule.py @SatelliteQE/team-platform
tests/foreman/destructive/test_capsule_loadbalancer.py @SatelliteQE/team-platform
tests/foreman/destructive/test_clone.py @SatelliteQE/team-platform
tests/foreman/destructive/test_fm_upgrade.py @SatelliteQE/team-platform
tests/foreman/destructive/test_foreman_service.py @SatelliteQE/team-platform
tests/foreman/destructive/test_installer.py @SatelliteQE/team-platform
tests/foreman/destructive/test_katello_certs_check.py @SatelliteQE/team-platform
tests/foreman/destructive/test_leapp_satellite.py @SatelliteQE/team-platform
tests/foreman/destructive/test_packages.py @SatelliteQE/team-platform
tests/foreman/destructive/test_rename.py @SatelliteQE/team-platform
tests/foreman/installer/test_installer.py @SatelliteQE/team-platform
tests/foreman/maintain/test_advanced.py @SatelliteQE/team-platform
tests/foreman/maintain/test_backup_restore.py @SatelliteQE/team-platform
tests/foreman/maintain/test_health.py @SatelliteQE/team-platform
tests/foreman/maintain/test_maintenance_mode.py @SatelliteQE/team-platform
tests/foreman/maintain/test_offload_DB.py @SatelliteQE/team-platform
tests/foreman/maintain/test_packages.py @SatelliteQE/team-platform
tests/foreman/maintain/test_service.py @SatelliteQE/team-platform
tests/foreman/maintain/test_upgrade.py @SatelliteQE/team-platform
tests/foreman/sys/test_fam.py @SatelliteQE/team-platform
tests/foreman/sys/test_katello_certs_check.py @SatelliteQE/team-platform
tests/foreman/ui/test_branding.py @SatelliteQE/team-platform
tests/upgrades/test_capsule.py @SatelliteQE/team-platform
tests/upgrades/test_performance_tuning.py @SatelliteQE/team-platform
