# Tier Codeowners for framework based changes

* @SatelliteQE/robottelo-tier-1-reviewers

/* @SatelliteQE/robottelo-tier-2-reviewers

/.github/ @SatelliteQE/robottelo-tier-2-reviewers

/conf/ @SatelliteQE/robottelo-tier-2-reviewers

/pytest_fixtures/ @SatelliteQE/robottelo-tier-2-reviewers

/pytest_plugins/ @SatelliteQE/robottelo-tier-2-reviewers

/robottelo/ @SatelliteQE/robottelo-tier-2-reviewers

/scripts/ @SatelliteQE/robottelo-tier-2-reviewers

/tests/foreman/sanity/ @SatelliteQE/robottelo-tier-2-reviewers

# Team Codeowners for test based changes

# Phoenix
/tests/foreman/api/test_activationkey.py @SatelliteQE/phoenix
/tests/foreman/api/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentcredentials.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentviewfilter.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/api/test_contentviewversion.py @SatelliteQE/phoenix
/tests/foreman/api/test_docker.py @SatelliteQE/phoenix
/tests/foreman/api/test_errata.py @SatelliteQE/phoenix
/tests/foreman/api/test_hostcollection.py @SatelliteQE/phoenix
/tests/foreman/api/test_http_proxy.py @SatelliteQE/phoenix
/tests/foreman/api/test_lifecycleenvironment.py @SatelliteQE/phoenix
/tests/foreman/api/test_product.py @SatelliteQE/phoenix
/tests/foreman/api/test_reporttemplates.py @SatelliteQE/phoenix
/tests/foreman/api/test_repositories.py @SatelliteQE/phoenix
/tests/foreman/api/test_repository.py @SatelliteQE/phoenix
/tests/foreman/api/test_repository_set.py @SatelliteQE/phoenix
/tests/foreman/api/test_rhsm.py @SatelliteQE/phoenix
/tests/foreman/api/test_subscription.py @SatelliteQE/phoenix
/tests/foreman/api/test_syncplan.py @SatelliteQE/phoenix
/tests/foreman/cli/test_activationkey.py @SatelliteQE/phoenix
/tests/foreman/cli/test_artifacts.py @SatelliteQE/phoenix
/tests/foreman/cli/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentaccess.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentcredentials.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentviewfilter.py @SatelliteQE/phoenix
/tests/foreman/cli/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/cli/test_docker.py @SatelliteQE/phoenix
/tests/foreman/cli/test_errata.py @SatelliteQE/phoenix
/tests/foreman/cli/test_hostcollection.py @SatelliteQE/phoenix
/tests/foreman/cli/test_http_proxy.py @SatelliteQE/phoenix
/tests/foreman/cli/test_lifecycleenvironment.py @SatelliteQE/phoenix
/tests/foreman/cli/test_ostreebranch.py @SatelliteQE/phoenix
/tests/foreman/cli/test_product.py @SatelliteQE/phoenix
/tests/foreman/cli/test_reporttemplates.py @SatelliteQE/phoenix
/tests/foreman/cli/test_repositories.py @SatelliteQE/phoenix
/tests/foreman/cli/test_repository.py @SatelliteQE/phoenix
/tests/foreman/cli/test_repository_set.py @SatelliteQE/phoenix
/tests/foreman/cli/test_satellitesync.py @SatelliteQE/phoenix
/tests/foreman/cli/test_subscription.py @SatelliteQE/phoenix
/tests/foreman/cli/test_syncplan.py @SatelliteQE/phoenix
/tests/foreman/cli/test_vm_install_products_package.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_contenthost.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/destructive/test_repository.py @SatelliteQE/phoenix
/tests/foreman/longrun/test_inc_updates.py @SatelliteQE/phoenix
/tests/foreman/ui/test_activationkey.py @SatelliteQE/phoenix
/tests/foreman/ui/test_capsulecontent.py @SatelliteQE/phoenix
/tests/foreman/ui/test_containerimagetag.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contentcredentials.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contenthost.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contentview_old.py @SatelliteQE/phoenix
/tests/foreman/ui/test_contentview.py @SatelliteQE/phoenix
/tests/foreman/ui/test_errata.py @SatelliteQE/phoenix
/tests/foreman/ui/test_hostcollection.py @SatelliteQE/phoenix
/tests/foreman/ui/test_http_proxy.py @SatelliteQE/phoenix
/tests/foreman/ui/test_lifecycleenvironment.py @SatelliteQE/phoenix
/tests/foreman/ui/test_modulestreams.py @SatelliteQE/phoenix
/tests/foreman/ui/test_package.py @SatelliteQE/phoenix
/tests/foreman/ui/test_product.py @SatelliteQE/phoenix
/tests/foreman/ui/test_reporttemplates.py @SatelliteQE/phoenix
/tests/foreman/ui/test_repositories.py @SatelliteQE/phoenix
/tests/foreman/ui/test_repository.py @SatelliteQE/phoenix
/tests/foreman/ui/test_subscription.py @SatelliteQE/phoenix
/tests/foreman/ui/test_syncplan.py @SatelliteQE/phoenix
/tests/foreman/ui/test_sync.py @SatelliteQE/phoenix
/tests/foreman/virtwho/ @SatelliteQE/phoenix
