[run]
omit =
    robottelo/commands/*.py
    robottelo/performance/*.py
include =
    robottelo/*.py
    robottelo/api
    robottelo/cli/base.py
    robottelo/cli/hammer.py
    robottelo/ui/base.py
    robottelo/ui/browser.py
