--- # Container registry and repo set information to use for container repo syncing.

long_pass_test_registry: # Registry Token/Password must be >255 characters
  label: registry1
  registry_url: https://registry.redhat.io
  registry_username: # Username
  registry_password: # Token or password
  repos_to_sync: [rhel7, rhscl/mysql-57-rhel7, rhscl/ruby-24-rhel7]


multi_registry_test_configs:
  - label: registry2
    registry_url: https://registry1.example.com
    registry_username: # Username
    registry_password: # Token or password
    repos_to_sync: [repo1, repo1/x1, repo2/x4]

  - label: registry3
    registry_url: https://registry2.redhat.io
    registry_username: # Username
    registry_password: # Token or password
    repos_to_sync: [repo2, repo3/x1, repo2/x4]

