[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
cachetools = "==2.0.1"
cryptography = "==2.1.4"
fauxfactory = "==3.0.2"
idna = "==2.6"
mock = "==2.0.0"
paramiko = "==2.4.1"
pytest = "==3.6.1"
pytest-services = "==1.2.1"
pytest-mock = "==1.6.3"
requests = "==2.18.4"
selenium = "==3.8.1"
six = "==1.11.0"
testimony = "==1.6.0"
"unittest2" = "==1.1.0"
python-bugzilla = "==1.2.2"
robozilla = "==0.2.6"
airgun = {git = "https://github.com/SatelliteQE/airgun.git"}
nailgun = {git = "https://github.com/SatelliteQE/nailgun.git"}
robottelo = {file = "file:///home/okhatavk/Satellite/robottelo", editable = true}
Inflector = "==2.0.12"
import_string = "==0.1.0"
PyYAML = "==3.13"
codecov = "*"
"flake8" = "*"
pytest-cov = "*"
pytest-xdist = "*"
redis = "*"
tox = "*"
pylint = "*"
sauceclient = "==1.0.0"
docker-py = "*"
manage = ">=0.1.13"
blinker = "==1.4"
Sphinx = "*"

[requires]
python_version = "3.4"

[dev-packages]
