ddt
git+https://github.com/RedHatQE/python-stageportal.git#egg=stageportal
git+https://github.com/smartkiwi/SeleniumFactory-for-Python.git#egg=SeleniumFactory
git+git://github.com/blrm/nose_xunitmp.git#egg=nose_xunitmp
iniparse
nose
paramiko
pylint
python-bugzilla
requests
rstr
sauceclient
selenium
