alabaster==0.7.9
apipkg==1.4
astroid==1.4.8
Babel==2.3.4
backports.functools-lru-cache==1.2.1
backports.ssl-match-hostname==3.5.0.1
blinker==1.4
blinker-herald==0.2.0
cachetools==1.1.6
cffi==1.7.0
click==6.6
configparser==3.5.0
coverage==4.2
coveralls==1.1
cryptography==1.4
docker-py==1.9.0
docopt==0.6.2
docutils==0.12
enum34==1.1.6
execnet==1.4.1
fauxfactory==2.0.9
flake8==3.0.4
funcsigs==1.0.2
idna==2.1
imagesize==0.7.1
inflection==0.3.1
Inflector==2.0.11
ipaddress==1.0.16
isort==4.2.5
Jinja2==2.8
lazy-object-proxy==1.2.2
linecache2==1.0.0
MarkupSafe==0.23
mccabe==0.5.2
mock==2.0.0
numpy==1.11.1
packaging==16.7
paramiko==2.0.2
pbr==1.10.0
pluggy==0.3.1
py==1.4.31
pyasn1==0.1.9
pycodestyle==2.0.0
pycparser==2.14
pyflakes==1.2.3
pygal==2.2.3
Pygments==2.1.3
pylint==1.6.4
pyparsing==2.1.5
pytest==2.9.2
pytest-cov==2.3.1
pytest-xdist==1.14
python-bugzilla==1.2.2
pytz==2016.6.1
pyxdg==0.25
PyYAML==3.11
requests==2.10.0
sauceclient==0.2.1
selenium==2.48.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.5
termcolor==1.1.0
testimony==1.2.0
tox==2.3.1
traceback2==1.4.0
unittest2==1.1.0
virtualenv==15.0.3
websocket-client==0.37.0
wrapt==1.10.8

# Install nailgun specific branch
git+https://github.com/SatelliteQE/nailgun.git@6.2.z#egg=nailgun

# Install robottelo itself to the path
--editable .
