# For parsing config file.
iniparse

# For all tests.
booby
ddt
python-bugzilla

# For API tests.
requests
rstr

# For CLI tests.
paramiko

# For UI tests.
selenium
git+https://github.com/smartkiwi/SeleniumFactory-for-Python.git#egg=SeleniumFactory
sauceclient
