# For running tests and checking code quality using these modules.
codecov==2.1.12
flake8==4.0.1
pytest-cov==3.0.0
redis==4.0.0
pre-commit==2.15.0


# For generating documentation.
sphinx==4.3.0
sphinx-autoapi==1.8.4

# For 'manage' interactive shell
manage>=0.1.13
