# For running tests and checking code quality using these modules.
codecov==2.1.11
flake8==3.9.2
pytest-cov==2.11.1
redis==3.5.3
tox==3.23.1
pre-commit==2.12.1


# For generating documentation.
sphinx==4.0.1
sphinx-autoapi==1.8.1

# For 'manage' interactive shell
manage>=0.1.13
