# Make a copy of this file named robottelo.properties

[main]

# A hostname is required. scheme (default: https) and port are optional.
# Suggested values for "scheme" are "http" and "https".
server.hostname=
#server.scheme=https
#server.port=

server.ssh.key_private=/home/whoami/.ssh/id_hudson_dsa
server.ssh.username=root
project=foreman
locale=en_US
remote=0
smoke=0

# Virtual display controls if PyVirtualDisplay should be used to run UI tests
# when setting it to 1 then make sure to install required dependencies
virtual_display=0

# If virtual_display=1 and window_manager_command is not blank, the window
# manager command will be run before opening any browser window
window_manager_command=

[foreman]
admin.username=admin
admin.password=changeme

[saucelabs]
driver=firefox

[nosetests]
verbosity=2
nocapture=1
nologcapture=1
with-xunit=1
xunit-file=foreman-results.xml
# NOTE: nosetests --with-xunit does not work with
# 'processes' property enabled.
# processes=1
# process-timeout=120

# NOTE: Candlepin url accepts just the hostname.
