{
    "server":{
        "hostname":"test",
        "scheme":"https",
        "port":"",
        "ssh_key":"/home/whoami/.ssh/id_hudson_dsa",
        "ssh_username":"root"
    },
    "ldap":{
        "ldaphost":"test",
        "ldapuser":"test",
        "ldappwd":"test",
        "basedn":"test",
        "grpbasedn":"test"
    },
    "robottelo":{
        "project":"sat",
        "locale":"en_US.UTF-8",
        "remote":"0",
        "smoke":"0",
        "upstream":"1",
        "verbosity":"2",
        "screenshots.base_path":"/tmp/robottelo/screenshots/",
        "virtual_display":"0",
        "window_manager_command":"test"
    },
    "tests":{
        "manifests":"True",
        "provisioning":"True"
    },
    "manifest":{
        "fake_url":"http://example.org/valid-redhat-manifest.zip",
        "key_url":"http://example.org/fake_manifest.key",
        "cert_url":"http://example.org/fake_manifest.crt"
    },
    "clients":{
        "provisioning_server":"test",
        "image_dir":"/opt/robottelo/images",
        "rhel6_repo":"http://example.com/yum/repo_files/rhel6-updates.repo",
        "rhel7_repo":"http://example.com/yum/repo_files/rhel7-updates.repo"
    },
    "docker":{
        "external_url":"http://localhost.2375"
    },
    "foreman":{
        "admin.username":"admin",
        "admin.password":"changeme"
    },
    "insights":{
        "insights_el6repo":"https://www.example.com/insights-client/repo/insights-client-6.repo",
        "insights_el7repo":"https://www.example.com/insights-client/repo/insights-client-7.repo"
    },
    "transitions":{
        "export_tar.url":"http://example.org/sat5_export_data.tgz"
    },
    "performance":{
        "test.foreman.perf":"0",
        "test.cdn.address":"http://cdn.example.com/pub",
        "test.virtual_machines_list":["127.0.0.1","127.0.0.1","127.0.0.1","127.0.0.1","127.0.0.1"],
        "test.savepoint1_fresh_install":"",
        "test.savepoint2_enabled_repos":"",
        "csv.num_buckets":"10",
        "test.target_repos":"RHEL 6 Kickstart rpms,RHEL 6 Optional Source rpms",
        "test.num_syncs":"3",
        "test.sync_type":"sync"
    }
}