# Make a copy of this file named virtwho.properties
# The section name should be the hypervisor type, one of the values: esx, xen, hyperv, rhevm, libvirt, kubevirt
# Take the esx type as an example
# [esx]
# The hypervisor type, the same as the section name
# hypervisor_type=esx
# The hostname or ip or other values for hypervisor server, depends on the type
# hypervisor_server=
# Admin username to access hypervisor server
# hypervisor_username=
# Admin password to access hypervisor server
# hypervisor_password=
# The config file to connect hypervisor, only for kubevirt
# hypervisor_config_file=
# The guest ip or hostname in the hypervisor
# guest=
# The guest port for ssh connection, by default guest_port=22
# guest_port=22
# ssh username to access guest
# guest_username=
# ssh password to access guest
# guest_password=

# The SKU ID for virt-who plugin testing
# [sku]
# The SKU ID for physical vdc
# vdc_physical=
# The SKU ID for virtual vdc
# vdc_virtual=
