BROKER:
    # The path where your broker settings and inventory are located
    BROKER_DIRECTORY: "."
    HOST_WORKFLOWS:
        POWER_CYCLE: powercycle-vm
        # POWER_OFF:
        # POWER_ON:
        EXTEND: extend-vm
