CLIENTS:
  # Provisioning server hostname where the clients will be created
  PROVISIONING_SERVER:
  # Path on the provisioning server where the virtual images will be stored, default "/var/lib/libvirt/images/"
  IMAGE_DIR:
