FAKE_MANIFEST:
# URL of the base manifest
  URL:
    DEFAULT: http://manifest-file-path
    GOLDEN_TICKET: http://manifest-file-path

  # URL of the key file
  KEY_URL: http://manifest-key-path

  # URL of the certificate file
  CERT_URL: http://manifest-cert-path
