GCE:
  # Google Provider as Compute Resource
  # client json Certificate path which is local path on satellite
  CERT_PATH: /path/to/certificate.json
  # Zones
  ZONE: example-zone
  # client certificate
  CERT: "{}" # client json Certificate
