# For LDAP freeIPA Authentication.
IPA:
  HOSTNAME:  # replace with hostname
  USERNAME:  # replace with username
  PASSWORD:  # update the password
  BASEDN:  # replace with basedn
  GRPBASEDN:  # replace with group basedn
  USER: foreman
  OTP_USER: otp_user
  TIME_BASED_SECRET:  # update the time based token secret
  DISABLED_IPA_USER: disabled_user
  GROUP_USERS:
    - satadmin_01
    - satuser_01
  GROUPS:
    - satadmins
    - satusers
  KEYTAB_URL:
