# For foreman-mcp-server
FOREMAN_MCP:
  USERNAME:
  PASSWORD:
  PORT:
  REGISTRY:
  IMAGE_PATH:
FOREMAN_MCP_DOWNSTREAM:
  USERNAME:
  PASSWORD:
  PORT:
  REGISTRY:
  REGISTRY_STAGE:
  IMAGE_PATH:
  REGISTRY_USERNAME:
  REGISTRY_PASSWORD:
  REGISTRY_STAGE_USERNAME:
  REGISTRY_STAGE_PASSWORD:
