# For foreman-mcp-server
FOREMAN_MCP:
  USERNAME:
  PASSWORD:
  PORT:
  REGISTRY:
  IMAGE_PATH:
FOREMAN_MCP_DOWNSTREAM:
  USERNAME:
  PASSWORD:
  PORT:
  REGISTRY:
  IMAGE_PATH:
  REGISTRY_USERNAME:
  REGISTRY_PASSWORD:
FOREMAN_MCP_STAGE:
  USERNAME:
  PASSWORD:
  PORT:
  REGISTRY:
  IMAGE_PATH:
  REGISTRY_USERNAME:
  REGISTRY_PASSWORD:
