# For foreman-mcp-server
FOREMAN_MCP:
  USERNAME: '@jinja {{this.server.admin_username}}'
  PASSWORD: '@jinja {{this.server.admin_password}}'
  PORT: 8080
  UPSTREAM:
    REGISTRY_URL: quay.io
    IMAGE_PATH: foreman/foreman-mcp-server
    IMAGE_TAG: latest
  STAGE:
    REGISTRY_URL:
    REGISTRY_USERNAME:
    REGISTRY_PASSWORD:
    IMAGE_PATH:
    IMAGE_TAG:
