UPGRADE:
  # Base version of the Satellite, Capsule.
  FROM_VERSION: '6.16'
  # Target version of the Satellite, Capsule.
  TO_VERSION: '6.17'
  # Satellite, Capsule hosts RHEL operating system version.
  OS: rhel9
  # The job template Broker should use to upgrade a Satellite
  SATELLITE_UPGRADE_JOB_TEMPLATE: satellite-upgrade
  # Capsule's activation key will only be available when we spawn the VM using upgrade template.
  CAPSULE_AK:
    RHEL8: rhel8_capsule_ak
    RHEL9: rhel9_capsule_ak
