# VLAN Networking details
VLAN_NETWORKING:
  SUBNET:  # SUBNET
  NETMASK:  # NETMASK
  BRIDGE:  # BRIDGE
  GATEWAY:  # GATEWAY
  DHCP_IPAM:  # DHCP|INTERNAL DB
  NETWORK:  # NETWORK_VALUE (mutually exclusive with bridge)
  DHCP_FROM:  # IP_RANGE_FROM
  DHCP_TO:  # IP_RANGE_TO
