# CI stages to execute against all branches on PR merge
name: auto_cherry_pick_commits

on:
  pull_request_target:
    types:
      - closed

# Github & Parent PR Env vars
env:
  assignee: ${{ github.event.pull_request.assignee.login }}
  title: ${{ github.event.pull_request.title }}
  number: ${{ github.event.number }}

jobs:

  # Pre-Requisites for Auto Cherrypicking
  find-the-parent-prt-comment:
    name: Find & Save last PRT comment of Parent PR
    runs-on: ubuntu-latest
    outputs:
      prt_comment: ${{steps.fc.outputs.comment-body}}
    steps:
      - name: Find Comment
        uses: peter-evans/find-comment@v2
        id: fc
        with:
          issue-number: ${{ env.number }}
          body-includes: "trigger: test-robottelo"

  # Auto CherryPicking and Failure Recording
  auto-cherry-pick:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'CherryPick')
    name: Auto Cherry Pick to labeled branches
    needs: find-the-parent-prt-comment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        label: ${{ github.event.pull_request.labels.*.name }}

    steps:
      ## Robottelo Repo Checkout
      - uses: actions/checkout@v3
        if: ${{ startsWith(matrix.label, '6.') && matrix.label != github.base_ref }}
        with:
          fetch-depth: 0

      ## CherryPicking and AutoMerging
      - name: Cherrypicking to zStream branch
        id: cherrypick
        if: ${{ startsWith(matrix.label, '6.') && matrix.label != github.base_ref }}
        uses: jyejare/github-cherry-pick-action@main
        with:
          token: ${{ secrets.CHERRYPICK_PAT }}
          branch: ${{ matrix.label }}
          labels: |
            Auto_Cherry_Picked
            ${{ matrix.label }}
          assignees: ${{ env.assignee }}
      - name: Add Parent PR's PRT comment to Auto_Cherry_Picked PR's
        id: add-parent-prt-comment
        if: ${{ always() && steps.cherrypick.outcome == 'success' }}
        uses: mshick/add-pr-comment@v2
        with:
          issue: ${{ steps.cherrypick.outputs.pr_number }}
          message: ${{ needs.find-the-parent-prt-comment.outputs.prt_comment }}
          repo-token: ${{ secrets.CHERRYPICK_PAT }}

      ## Failure Logging to issues and GChat Group
      - name: Create Github issue on cherrypick failure
        id: create-issue
        if: ${{ always() && steps.cherrypick.outcome == 'failure' }}
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ secrets.CHERRYPICK_PAT }}
          title: "[Failed-AutoCherryPick] - ${{ env.title }}"
          body: |
            #### Auto-Cherry-Pick WorkFlow Failure:
            - To Branch: ${{ matrix.label }}
            - [Failed Cherrypick Action](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
            - [Parent Pull Request](https://github.com/${{ github.repository }}/pull/${{ github.event.number }})
          labels: Failed_AutoCherryPick,${{ matrix.label }}
          assignees: ${{ env.assignee }}
      - name: Send Google Chat notification on cherrypick failure
        id: google-chat-notification
        if: ${{ always() && steps.cherrypick.outcome == 'failure' }}
        uses: omkarkhatavkar/google-chat-notification@master
        with:
          name: ${{ env.title }}
          url: ${{ secrets.GCHAT_REVIEWERS_WEBHOOK }}
          issue_url: ${{ steps.create-issue.outputs.html_url }}
          author: ${{ env.assignee }}
          status: failure
