name: update_robottelo_image

on: [push]

jobs:
  codechecks:
    name: Code Quality
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    env:
      PYCURL_SSL_LIBRARY: gnutls
      SATELLITE_VERSION: 6.8
    steps:
      - name: Checkout Robottelo
        uses: actions/checkout@v2

      - name: Set Up Python-${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          sudo apt-get install -y libgnutls28-dev libcurl4-openssl-dev libssl-dev
          wget https://raw.githubusercontent.com/SatelliteQE/broker/master/broker_settings.yaml.example
          pip install -U --no-binary=pycurl -r requirements.txt -r requirements-optional.txt
          cp robottelo.properties.sample robottelo.properties
          cp broker_settings.yaml.example broker_settings.yaml
          cp virtwho.properties.sample virtwho.properties

      - name: Pre Commit Checks
        uses: pre-commit/action@v2.0.0

      - name: Collect Tests
        run: |
          pytest -n 8 --setup-plan --disable-pytest-warnings tests/foreman/ tests/robottelo/
          pytest -n 8 --setup-plan --disable-pytest-warnings -m pre_upgrade tests/upgrades/
          pytest -n 8 --setup-plan --disable-pytest-warnings -m post_upgrade tests/upgrades/

      - name: Make Docs
        run: |
          make test-docstrings
          make docs

      - name: Analysis (git diff)
        if: failure()
        run: git diff

  robottelo_container:
    needs: codechecks
    name: Update Robottelo container image on Quay.
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get image tag
        id: image_tag
        run: |
          echo -n ::set-output name=IMAGE_TAG::
          TAG="${GITHUB_REF##*/}"
          if [ "${TAG}" == "master" ]; then
              TAG="latest"
          fi
          echo "${TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Quay Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.QUAY_SERVER }}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Build and push image to Quay
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.QUAY_SERVER }}/${{ secrets.QUAY_NAMESPACE }}/robottelo:${{ steps.image_tag.outputs.IMAGE_TAG }}
